@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@300;400;500;600;700&family=Montserrat:wght@400;600;700&family=Nunito:wght@400;600;700&family=Old+Standard+TT&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

/* base rules */
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background: #000000; */
    padding-top: 30px;
    /* display: grid; */
}

.card {
    /* width: 100%;
    height: 100%;
    padding: 0 2.5em;serv
    background: linear-gradient(#ffffff 50%, #2c7bfe 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer; */
    transition: 0.5s;
    
  }

/* Navigation */
.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
   outline: none;
   box-shadow: none;
   border: 0;
}

.navbar-toggler span{
    margin: 0;
    padding: 0;
}
.toggler-icon{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #2e89d3;
    border-radius: 1px;
    opacity: 1;
    right: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
.middle-bar{
    margin-top: 0;
}

/* When the Nav is collapsed */
.navbar-toggler .top-bar{
    margin-top: -7px;
    transform: rotate(0deg);
    } 

.navbar-toggler.middle-bar{
    opacity: 1;
    filter: alpha(opacity=100);
}
.navbar-toggler .bottom-bar{
margin-top: 7px;
transform: rotate(0deg);
}

.navbar-brand{
    font-size: 30px;
    color: #fff;
    transition: .5s all;
    
}

.nav-item  .nav-link:hover{
    color: #be823498 !important;
    transition: 0.5s all ease-in-out;
    
}
nav .navbar-nav li a{
    color: #307FB4 !important;
    font-size: 16px;
    letter-spacing: 0.05em;
    font-weight: 600;
    font-family: nunito, sans-serif;
}
nav .navbar-nav li{
    margin-left: 15px;
}

nav.r-nav.stickyadd{
    background: black !important;
    padding: 15px 0;
    box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
    transition: 0.5s all ease-in-out;
    
}
nav.stickyadd .navbar-brand{
    font-size: 27px;
    transition: .5s all;
    
}
nav.stickyadd .navbar-nav .nav-link{
    color: #000000 !important;
}
.navbar .hamburger{
    color: #307FB4;
}
nav.stickyadd .hamburger{
    color: #000000;
}
.w-100{
    height: 100vh;
}

/* ==== responsive css ==== */


.container-fluid .team-row{
    max-width: 100% !important;
}
.Team-content-box{
    /* width: 100% !important; */
    margin-top: 20px;
    color: #307FB4;
    justify-content: center;
    align-items: center;
    display: grid;     
}

.Team-content-box h1{

    font-size: 42px;
    font-weight: bolder;
    color: #12192c;
    justify-content: center;
    align-items: center;
}
@media(max-width: 600px){
    .Team-content-box h1{
        margin-top: -55px;
        font-size: 2.2rem;
    }
    .main_content h4{
        font-size: 2rem;
        margin: -20px;
        
    }
}


/* Our Team */

.main{
    background-color: white;
    /* background-color: #00325a; */
}

.main_content{
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem; 
}

.TeamMemb{
    /* width: 30px; */
    
    /* display: grid; */
    align-items: center;
    padding: 2rem 0;
    color: black;
    /* padding: 15px; */
    /* border-radius: 8px; */
    /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15); */
}
/* .line-break {
    width: 100%;
  } */
.TeamMemb p{
    padding-top: 8px;
    font-size: 15px;
    /* clear: left; */
    line-height: 28px;
    height: 80px;
    overflow: hidden;
}
.TeamMemb a{
    display:inline-block;
    /* width: 100%; */
    /* float: left; */
    color: #fff;
    background-color: #2196f3;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 8px;
    margin-top: 15px;
}
.TeamMemb a:hover{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.TeamMemb.showContent p{
    height: auto;
}
.TeamMemb.showContent a.readmore-btn{
     /* background-color: red; */
     background-color: #e68d1a98;
}

p span{
    /* color:#fc4a1a; */
    color: #307FB4 ;
    text-transform: uppercase;
    font-weight: bold;
}
h4{
    color: #307FB4;
    /* padding-top: 8px; */
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.TeamClass{
    width: 130px;
    height: 130px;
    display:block;
    align-items: center;
    text-align: center;
}

img .consultant{
    width: 160px;
    height: 130px;
}
.message{
    padding: 0 2rem;
    font-size: 1.2rem;
    color: black;
    word-spacing: 6px;
    line-height: 1.4rem;
    font-family: 'Kumbh Sans', sans-serif;
    line-height: 28px;
    height: 90px;
    overflow: hidden;
}
.footer-content-box h4{
    color: #307FB4;
    /* padding-top: 8px; */
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer-content-box h1{
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}